{% extends "::base.html.twig" %}

{% block title %} Галерея {% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <ul class="nav navbar-nav">
                <li><a  href="{{ path('app_basic_index') }}"> Фото галерея </a></li>
                <li></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                <li><a href="{{ path('fos_user_security_login') }}"> Авторизация</a></li>
                <li><a href="/logout"> Выйти </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
{% endblock %}