{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Basic:index page</h1>

    <h3><a href="{{ path('app_user_index', {'id' : user.id }) }}"> Мой профиль </a></h3>

    {% for photo in photos %}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <img src="{{ vich_uploader_asset(photo, 'photo')}}">
                    <h5><a href="#">{{ photo.title }}</a></h5>
                    <h5>By <a href="#">{{ photo.user.name }}</a></h5>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td>No photos found</td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
