{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:User:index{% endblock %}

{% block content %}
    <div class="container">
        <a  href="{{ path('app_user_index', {'id' : user.id }) }}"> Мой профиль </a>
        <h1>{{ user.name }}'s profile</h1> <a href="{{ path('fos_user_profile_edit') }}">Edit</a>
        <h3>My photos</h3> <a href="{{ path('app_user_createphoto') }}">Create new photo</a>

        <table border="1" cellpadding="3" class="table">
            <tr class="caption">
                <th>Photo</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>

            {% for photo in photos %}
                <tr>
                    <td>
                        <img src="{{ vich_uploader_asset(photo, 'photo') }}" alt="">
                    </td>
                    <td>
                        {{ photo.title }}
                    </td>
                    <td>
                        <a href="{{ path('app_user_delete', {'id' : photo.id}) }}">Remove</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No photos found</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
